body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}
p{
    line-height: 2;
}
hr{ color: #EAF6F6;
    margin: 6rem auto 6rem auto;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    width: 6%;
}
h2{
    color: #11999E;
    font-size: 2.5rem;
}
h4{ font-family: 'Montserrat', sans-serif;
    margin: 2rem auto 2rem auto;
   color: #11999E
   

}
.top-container{
    background-color: #D6EFED;
    position: relative;
    padding-top: 150px;
}
.heading-top{
    line-height: 2;
    color: #00A19D;
    margin: 0 auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size:5.625rem;
    text-decoration: none;
}
.subheading-top{
    color: #66BFbf;
    font-size: 2rem;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 200px;
}
.bottom-cloud{
    position: absolute;
    left: 100px;
    bottom: 300px;
}
.mountain{
    height: 21rem;
    width: 38rem;
}


.middle-container{
    font-family: 'Merriweather', sans-serif;
    margin-bottom: 6rem;
}
.profile-pic{
    height: 11.25rem;
    width: 11.25rem;
    margin: 5rem auto 2rem auto;
}
.skill-row{
    width: 50%;
    margin: 6.25rem auto 6.25rem auto;
    line-height: 2;
    text-align: left;
}
.computer{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.camera{
    width: 25%;
    float: right;
    margin-left: 30px ;
}

a{
    color: #11999E;
    text-decoration: none;
}
a:hover{
    color: white;
}
h2{
    font-weight: normal;
}

h3{
    color: #11999E;
}

.last-p{
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.bottom-container{
    background-color: #9DD6DF;;
    padding: 50px 0 20px 0;
}
.footer-link{
    margin: 0 20px 0 20px;

}
.copyright{
    color: #ffffff;
    font-size: 0.75rem;

}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 20px auto 20px auto;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }



